[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pymadng"
version = "0.0.3"
authors = [
  { name="Joshua Gray", email="joshua.mark.gray@cern.ch" },
]
description = "A python interface to MAD-NG running as subprocess and using Pexpect"
readme = "README.md"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: POSIX",
    "Development Status :: 2 - Pre-Alpha", 
    "Natural Language :: English", 
    "Topic :: Scientific/Engineering :: Physics"
]
dependencies = [
  'numpy >= 1.23',
  "pexpect >= 4.8"
]

[project.urls]
"Homepage" = "https://github.com/MethodicalAcceleratorDesign/MADpy"
"Bug Tracker" = "https://github.com/MethodicalAcceleratorDesign/MADpy/issues"
"MAD Source" = "https://github.com/MethodicalAcceleratorDesign/MAD"