# This workflow will install Python dependencies, run tests on a variety Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test pymadng

on: 
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get MAD Binaries
      run: |
        mkdir src/pymadng/bin 
        curl http://madx.web.cern.ch/madx/releases/madng/madng-linux-latest -o src/pymadng/bin/mad_Linux
        curl http://madx.web.cern.ch/madx/releases/madng/madng-macos-latest -o src/pymadng/bin/mad_Darwin
        chmod +x src/pymadng/bin/mad_Linux src/pymadng/bin/mad_Darwin
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
        python -m pip install tfs-pandas
    - name: Test with python
      run: |
        python -m unittest tests/*
